<html>
  <body>
  <h1> Hello World</h1>
  <h2>Company name:  <%= @company_name %></h2>
  <h2>The Server name : <%= @hostname %> </h2>
  <h2>The Server Memeory : <%= @total_memory %> </h2>
  </body>
</html>